%h4.text-center.text-muted You can choose only one item from the first course, |
  one item from the main course and one drink. |
.row
  .col-sm-4
    .first-course-wrap
      .caption
        %h4.text-center First course
      .body
        -unless get_food_by_course('First course').blank?
          -get_food_by_course('First course').each do |food|
            .food{data:{ id: food.id, price: food.price } }
              .left-wrap
                =image_tag food.photo.url, class: 'img-rounded'
                %span.name #{food.name}
              %span.price #{food.price} &#36;
        -else
          %p.no-food No food
  .col-sm-4
    .main-course-wrap
      .caption
        %h4.text-center Main course
      .body
        -unless get_food_by_course('Main course').blank?
          -get_food_by_course('Main course').each do |food|
            .food{data:{ id: food.id, price: food.price } }
              .left-wrap
                =image_tag food.photo.url, class: 'img-rounded'
                %span.name #{food.name}
              %span.price #{food.price} &#36;
        -else
          %p.no-food No food
  .col-sm-4
    .drink-wrap
      .caption
        %h4.text-center Drink
      .body
        -unless get_food_by_course('Drink').blank?
          -get_food_by_course('Drink').each do |food|
            .food{data:{ id: food.id,  price: food.price } }
              .left-wrap
                =image_tag food.photo.url, class: 'img-rounded'
                %span.name #{food.name}
              %span.price #{food.price} &#36;
        -else
          %p.no-food No food
-if local_assigns[:date] == Date.today.to_s and !@foods.blank?
  .order-by-wrap
    .total-amount-wrap
      Total amount:
      %span#total-amount 0 &#36;
    %button.btn.btn-primary.center-block#order-btn{'data-toggle': 'modal'} Order
=javascript_include_tag 'food-order','data-turbolinks-track': 'reload'