%html
  %head
    %title Lunch Ordering - #{yield(:title)}
    = csrf_meta_tags

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body


    %nav.navbar.navbar-default
      .container
        .navbar-header
          =link_to(image_tag('logo.png',:width => 200), root_path)
        .navbar-collapse
          -if(user_signed_in?)
            %ul.nav.navbar-nav.pull-right
              -if current_user.admin?
                %li
                  = link_to('Users', admin_users_path)
                %li
                  =link_to('Orders', admin_orders_path)
                %li
                  =link_to('Menu', menu_path)
                %li
                  =link_to('New food', new_admin_food_path)
              %li.dropdown
                %a.dropdown-toggle{'data-toggle':'dropdown', href: '#'}
                  = current_user.name
                  %span.caret
                %ul.dropdown-menu
                  %li
                    = link_to('Edit profile', edit_path)
                  %li
                    = link_to('Sign out', sign_out_path)
          -else
            %ul.nav.navbar-nav.pull-right
              %li
                = link_to('Sign in', sign_in_path)
              %li
                = link_to('Sign up', sign_up_path)
    .container
      = yield
    %footer.footer